<div class="home-container">
  <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title>Assets</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p> Here it will show the graphs for assets</p>
    </mat-card-content>
  </mat-card>
  <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title>Operational Risk</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p> Here it will show the graphs for assets</p>
    </mat-card-content>
  </mat-card>
  <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title>Network</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p> Here it will show the graphs for assets</p>
    </mat-card-content>
  </mat-card>
</div>

