// .example-container {
//   width: 100%;
//   height: 100%;
// }

.example-sidenav-content {
  // display: flex;
  // height: 100%;
  // align-items: center;
  // justify-content: center;
}

.example-sidenav {
  padding: 20px 50px 20px 20px;
}

.fixed-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Ensure the toolbar is above other content */
}

.content-container {
  width: 100%;
  height: 100%;
  margin-top: 4rem; /* Adjust this value based on the height of your toolbar */
}

/* Custom styles for mat-tree-node */
.custom-tree-node {
  color: #ff5722; /* Change this to your desired font color */
}

.toolbar-logo {
  height: 40px; /* Adjust the height as needed */
  margin-right: 16px; /* Adjust the margin as needed */
}

@font-face {
  font-family: 'SiemensSansFont';
  src: url('/assets/fonts/siemens-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.siemens-logo {
  font-family: 'SiemensSansFont', sans-serif;
}